@keyframes ring {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  content: "";
  position: absolute;
}
html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  background: #e9e7fd !important;
}
img,
svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.section__container {
  width: 100%;
  height: 100svh;
  min-height: 90svh;
  background: #f3f6fd;
  margin: 0 auto;
  border-radius: 3rem;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.174);
  padding-top: 2rem;
  padding-bottom: 0;
  overflow: hidden;
}
@media (max-width: 800px) {
  .section__container {
    margin: 0;
    width: 100%;
  }
}
.main-container {
  display: flex;
  width: 100%;
  height: 110%;
  position: relative;
}
.content {
  width: 100%;
  padding-top: 2rem;
  display: flex;
}
@media (max-width: 800px) {
  .content.chat-open .projects {
    display: none;
  }
}
@media (max-width: 800px) {
  .content.chat-open .messages {
    display: block;
    width: 100%;
  }
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 80.5%;
  width: 100%;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  gap: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  align-content: baseline;
}
.projects-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1000px) {
  .projects-container {
    padding-block: 3rem;
    padding-bottom: 8rem;
    height: 91svh;
    gap: 3rem;
  }
}
@media (max-width: 800px) {
  .projects-container {
    padding-bottom: 15rem;
  }
}
.searchbar-secend {
  height: 100%;
  position: relative;
  margin-top: 1rem;
  display: none;
  text-align: center;
}
@media (max-width: 600px) {
  .searchbar-secend {
    display: block;
  }
}
.searchbar-secend label {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 13%;
  top: 50%;
  transform: translateY(-50%);
}
.searchbar-secend input {
  height: 100%;
  border: none;
  width: 80%;
  border-radius: 100px;
  padding: 2rem;
  padding-left: 6rem;
  font-size: 1.8rem;
  outline: none;
}
.searchbar-secend input:focus {
  outline: 1px solid black;
}
.searchbar-secend input::placeholder {
  font-size: 18px;
  color: #999;
}
@media (max-width: 600px) {
  .searchbar-secend input::placeholder {
    font-size: 14px;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  height: 3.6rem;
  padding: 0 3.5rem;
}
.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  height: 100%;
}
@media (max-width: 800px) {
  .nav__left {
    gap: 6rem;
  }
}
.nav__left--hamburger {
  width: 4rem;
  height: 4rem;
  color: rgb(0, 0, 0);
  margin: 0 -1rem 0 0.3rem;
  transition: all 0.3s ease;
}
.nav__left--hamburger:hover {
  cursor: pointer;
}
.nav__left--title {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.nav__left--searchbar {
  height: 100%;
  position: relative;
  margin-left: -35px;
}
@media (max-width: 600px) {
  .nav__left--searchbar {
    display: none;
  }
}
@media (max-width: 420px) {
  .nav__left--searchbar {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .nav__left--searchbar {
    margin-left: -20px;
  }
}
.nav__left--searchbar label {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 3%;
  top: 55%;
  transform: translateY(-50%);
}
.nav__left--searchbar input {
  height: 100%;
  border: none;
  width: 25vw;
  border-radius: 100px;
  padding: 2rem;
  padding-left: 4rem;
  font-size: 1.8rem;
  outline: none;
}
@media (max-width: 800px) {
  .nav__left--searchbar input {
    width: 30vw;
  }
}
.nav__left--searchbar input:focus {
  outline: 1px solid black;
}
.nav__left--searchbar input::placeholder {
  font-size: 18px;
  color: #999;
}
@media (max-width: 600px) {
  .nav__left--searchbar input::placeholder {
    font-size: 14px;
  }
}
.nav__right {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav__right > * {
  display: flex;
}
.nav__right--line {
  width: 1px;
  height: 100%;
  background: rgba(88, 88, 88, 0.51);
}
.nav__right--plus {
  width: 1.8rem;
  stroke: white;
  height: 1.8rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0.7rem;
  transition: all 0.3s ease;
}
.nav__right--plus:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav__right--bell {
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  transition: all 0.3s ease;
}
.nav__right--bell:hover {
  transform: rotate(-15deg);
  cursor: pointer;
}
.nav__right__bell {
  position: relative;
}
.nav__right--circle {
  width: 0.8rem;
  height: 0.8rem;
  background-color: red;
  position: absolute;
  top: 22%;
  left: 52%;
  border-radius: 50%;
}
.nav__right--image {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.nav__right--image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav__right--name {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .nav__right--name {
    display: none;
  }
}
.nav__right svg {
  height: 3rem;
  width: 3rem;
}
.navigation {
  min-height: 80svh;
  width: 10rem;
  padding: 6rem 3rem;
}
.navigation.closed {
  background: red;
  transform: scale(0);
  padding: 0;
  width: 0;
}
.nav__icon {
  color: rgb(136, 136, 136);
  width: 3rem;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: -1.2rem 0 0 -1rem;
  margin-bottom: 2rem;
  color: #5e5d5d;
  position: relative;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.nav__icon svg {
  transition: all 0.5s;
}
.nav__icon::before {
  height: 100%;
  aspect-ratio: 1/1;
  background: black;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.nav__icon:hover::before,
.nav__icon:first-child::before {
  opacity: 1;
  visibility: visible;
  scale: 2;
}
.nav__icon:hover,
.nav__icon:first-child {
  color: white;
}
.nav__icon:hover svg,
.nav__icon:first-child svg {
  scale: 1.2;
}
.projects {
  width: 65%;
  height: 85%;
  background: #fcfcfc;
  border-radius: 3rem 3rem 0 0;
  padding-inline: 5rem;
}
@media (max-width: 1000px) {
  .projects {
    width: 55%;
    height: 105%;
  }
}
@media (max-width: 800px) {
  .projects {
    width: 100%;
    padding-inline: 3rem;
  }
}
.projects__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  padding-block: 2rem;
}
@media (max-width: 1000px) {
  .projects__heading {
    padding-block: 2rem;
  }
}
.projects__heading--h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.projects__heading--date {
  font-size: 1.8rem;
  font-weight: bold;
}
.projects__status {
  display: flex;
  gap: 5rem;
  padding-bottom: 2rem;
}
@media (max-width: 1000px) {
  .projects__status {
    gap: 3rem;
  }
}
@media (max-width: 935px) {
  .projects__status {
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  .projects__status {
    gap: 5rem;
  }
}
@media (max-width: 460px) {
  .projects__status {
    gap: 2rem;
  }
}
@media (max-width: 370px) {
  .projects__status {
    gap: 0.5rem;
  }
}
.project_info_flex {
  display: flex;
  align-items: center;
}
.projects__status_info__numbers {
  font-size: 1.7rem;
  font-weight: bold;
}
.projects__status_info__des {
  color: #737373;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
}
.projects__status-nav {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  align-items: flex-start !important;
  align-items: center;
}
.projects__status_info__bullet{
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem -2.5rem 0 2.5rem;
}
@media (min-width: 300px) and (max-width: 368px) {
  .bottom {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .bottom {
    display: none;
  }
}
.projects__status-nav--hamburger {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
  margin-top:-0.5rem;
  cursor: pointer;
}
.projects__status-nav--more {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.projects__status-nav--more-child {
  height: 0.7rem;
  width: 0.7rem;
  border: 0.3rem solid black;
  border-radius: 50%;
}
.card {
  height: rem;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  position: relative;
}
.card::before,
.card::after {
  height: 3px;
  width: 80%;
  background: #00bbe5;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  border-radius: 100px;
  transform-origin: left;
}
.card::after {
  width: 60%;
  bottom: -20px;
}
.card:hover::after,
.card:hover::before {
  transform: translateX(-50%) scaleX(1);
}
.card:nth-child(4n + 2) {
  background: #fce9ca;
}
.card:nth-child(4n + 2) .card__line {
  background-color: white;
}
.card:nth-child(4n + 2) .card__footer--plus {
  fill: #ed970d;
}
.card:nth-child(4n + 2) .card__footer--button-btn {
  background: white;
  color: #ed970d;
}
.card:nth-child(4n + 2) .card__footer--button-btn:hover {
  cursor: pointer;
  color: #a46909;
}
.card:nth-child(4n + 2)::after,
.card:nth-child(4n + 2)::before {
  background: #ed970d;
}
.card:nth-child(4n + 3) {
  background: #cafcd5;
}
.card:nth-child(4n + 3) .card__line {
  background-color: white;
}
.card:nth-child(4n + 3) .card__footer--plus {
  fill: #0ded3e;
}
.card:nth-child(4n + 3) .card__footer--button-btn {
  background: white;
  color: #0ded3e;
}
.card:nth-child(4n + 3) .card__footer--button-btn:hover {
  cursor: pointer;
  color: #09a42b;
}
.card:nth-child(4n + 3)::after,
.card:nth-child(4n + 3)::before {
  background: #0ded3e;
}
.card:nth-child(4n + 4) {
  background: #fad5eb;
}
.card:nth-child(4n + 4) .card__line {
  background-color: white;
}
.card:nth-child(4n + 4) .card__footer--plus {
  fill: #e51e92;
}
.card:nth-child(4n + 4) .card__footer--button-btn {
  background: white;
  color: #e51e92;
}
.card:nth-child(4n + 4) .card__footer--button-btn:hover {
  cursor: pointer;
  color: #a91d6f;
}
.card:nth-child(4n + 4)::after,
.card:nth-child(4n + 4)::before {
  background: #e51e92;
}
.card:nth-child(4n + 5) {
  background: #f1d5fa;
}
.card:nth-child(4n + 5) .card__line {
  background-color: white;
}
.card:nth-child(4n + 5) .card__footer--plus {
  fill: #b31ee5;
}
.card:nth-child(4n + 5) .card__footer--button-btn {
  background: white;
  color: #b31ee5;
}
.card:nth-child(4n + 5) .card__footer--button-btn:hover {
  cursor: pointer;
  color: #8527a4;
}
.card:nth-child(4n + 5)::after,
.card:nth-child(4n + 5)::before {
  background: #b31ee5;
}
.card__info {
  position: absolute;
  right: 2rem;
}
.card__info--dot {
  height: 0.7rem;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}
.card__date {
  font-size: 1.3rem;
  font-weight: bold;
  color: #737373;
}
.card__title {
  padding-block: 2.5rem 1rem;
}
.card__title h4 {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
.card__title--category {
  text-align: center;
  font-size: 1.4rem;
}
.card__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(224, 220, 220);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__progress--progress {
  height: 100%;
  background-color: #00bbe5;
  border-radius: 0.5rem;
}
.card__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card2__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card2__progress--progress {
  height: 100%;
  background-color: #ed970d;
  border-radius: 0.5rem;
}
.card2__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card3__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card3__progress--progress {
  height: 100%;
  background-color: #0ded3e;
  border-radius: 0.5rem;
}
.card3__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card4__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card4__progress--progress {
  height: 100%;
  background-color: #e51e92;
  border-radius: 0.5rem;
}
.card4__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card5__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card5__progress--progress {
  height: 100%;
  background-color: #b31ee5;
  border-radius: 0.5rem;
}
.card5__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card__progress--label {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.card__line {
  height: 1px;
  width: 120%;
  margin-left: -2rem;
  background: #d7d7d7;
  margin-top: 2rem;
}
.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 1rem;
  height: 5rem;
}
.card__footer--image-size {
  height: 2rem;
  width: 2rem;
  fill: black;
}
.card__footer--image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.card__footer--image-size:first-child {
  margin: 0 0 0 -0.5rem;
}
.card__footer--image-size {
 margin: 0 0 0 -0.8rem;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.card__footer--image-size:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: contrast(1.5);
}
.card__footer--plus {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.card__footer--plus {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 5px;
  fill: #00bbe5;
}
.card__footer--plus:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: contrast(1.5);
}
.card__footer--button {
  margin-left: auto;
}
.card__footer--button-btn {
  all: unset;
  background: rgba(0, 187, 229, 0.137);
  color: #00bbe5;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.card__footer--button-btn:hover {
  cursor: pointer;
  color: #1393af;
}
.messages {
  height: 100%;
  width: 35%;
}
@media (max-width: 1000px) {
  .messages {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .messages {
    display: none;
  }
}
.msgflex {
  display: flex;
  gap: 0px;
  align-items: end;
  padding: 1.5rem 2rem;
  height: 6.5rem;
  border-bottom: 1px solid #939393;
}
.msgflex h4 {
  font-size: 2.2rem;
  font-weight: bold;
}
.msgflex--icon {
  margin-left: auto;
  height: 2.3rem;
  width: 2.3rem;
}
.msgflex--icon{
  cursor: pointer;
}
.msgflex--options {
  right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
.msgflex--options-dot {
  height: 0.7rem;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}
.client__info {
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom-right-radius: 30px;
}
.client::-webkit-scrollbar {
  display: none;
}
.client {
  display: flex;
  align-items: center;
  height: 12rem;
  padding-inline: 2rem;
  gap: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  border-bottom: 1px solid #939393;
}
.client:hover {
  background: white;
  border-radius: 10px;
  transform: translate(3px, 3px);
  box-shadow: 2rem 3rem 8rem #0000002b;
  border: none;
}
.client:hover {
  fill: black;
}
@media (max-width: 800px) {
  .client {
    padding-inline: 1rem;
  }
}
.client__flex {
  width: 15%;
}
.client__img {
  height: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
.client__title {
  width: 85%;
}
.client__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.client__name {
  font-size: 1.6rem;
  font-weight: bold;
}
.client__star1 {
  width: 1.5rem;
  height: 1.5rem;
  color: #151522;
}
.client__star2 {
  width: 1.5rem;
  height: 1.5rem;
  color: #151522;
}
.client__star1 {
  font-size: 1.5rem;
  color: gray;
}
.client__star2 {
  font-size: 1.5rem;
  color: black;
  display: none;
}
.client:hover .client__star1 {
  display: none;
}
.client:hover .client__star2 {
  display: block;
}
.client__review {
  color: #737373;
  font-weight: 600;
  font-size: 1.3rem;
}
.client__date {
  font-size: 1.3rem;
  text-align: end;
}
