.main-container {
  display: flex;
  width: 100%;
  height: 110%;
  position: relative;
}
.messages {
  height: 100%;
  width: 35%;
}
@media (max-width: 1000px) {
  .messages {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .messages {
    display: none;
  }
}
.icon__column {
  background-color: $color-main-bg;
  height: 50rem;
  overflow: auto;
  margin: 0 1rem 0 0rem;
  overflow-x: hidden;
  @media (min-width: 1150px) and (max-width: 1270px) {
    margin: 0 1rem 0 0.5rem;
  }
  @media (min-width: 842px) and (max-width: 998px) {
    margin: 0 1rem 0 0.5rem;
  }
  @media (min-width: 656px) and (max-width: 799px) {
    margin: 0 1rem 0 0.5rem;
  }
}
.content {
  width: 100%;
  padding-top: 2rem;
  display: flex;
}
@media (max-width: 800px) {
  .content.chat-open .projects {
    display: none;
  }
}
@media (max-width: 800px) {
  .content.chat-open .messages {
    display: block;
    width: 100%;
  }
}
.card__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(224, 220, 220);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__progress--progress {
  height: 100%;
  background-color: #00bbe5;
  border-radius: 0.5rem;
}
.card__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card2__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card2__progress--progress {
  height: 100%;
  background-color: #ed970d;
  border-radius: 0.5rem;
}
.card2__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card3__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card3__progress--progress {
  height: 100%;
  background-color: #0ded3e;
  border-radius: 0.5rem;
}
.card3__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card4__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card4__progress--progress {
  height: 100%;
  background-color: #e51e92;
  border-radius: 0.5rem;
}
.card4__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card5__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card5__progress--progress {
  height: 100%;
  background-color: #b31ee5;
  border-radius: 0.5rem;
}
.card5__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card__progress--label {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}