.card {
  height: 25rem;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  position: relative;
}
.card::before,
.card::after {
  height: 3px;
  width: 80%;
  background: #00bbe5;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  border-radius: 100px;
  transform-origin: left;
}
.card::after {
  width: 60%;
  bottom: -20px;
}
.card:hover::after,
.card:hover::before {
  transform: translateX(-50%) scaleX(1);
}
.card:nth-child(5n + 2) {
  background: #fce9ca;
}
.card:nth-child(5n + 2) .card__line {
  background-color: white;
}
.card:nth-child(5n + 2) .card__footer--plus svg {
  fill: #ed970d;
}
.card:nth-child(5n + 2) .card__footer--button-btn {
  background: white;
  color: #ed970d;
}
.card:nth-child(5n + 2) .card__footer--button-btn:hover {
  color: #a46909;
}
.card:nth-child(5n + 2)::after,
.card:nth-child(5n + 2)::before {
  background: #ed970d;
}
.card:nth-child(5n + 3) {
  background: #cafcd5;
}
.card:nth-child(5n + 3) .card__line {
  background-color: white;
}
.card:nth-child(5n + 3) .card__footer--plus svg {
  fill: #0ded3e;
}
.card:nth-child(5n + 3) .card__footer--button-btn {
  background: white;
  color: #0ded3e;
}
.card:nth-child(5n + 3) .card__footer--button-btn:hover {
  color: #09a42b;
}
.card:nth-child(5n + 3)::after,
.card:nth-child(5n + 3)::before {
  background: #0ded3e;
}
.card:nth-child(5n + 4) {
  background: #fad5eb;
}
.card:nth-child(5n + 4) .card__line {
  background-color: white;
}
.card:nth-child(5n + 4) .card__footer--plus svg {
  fill: #e51e92;
}
.card:nth-child(5n + 4) .card__footer--button-btn {
  background: white;
  color: #e51e92;
}
.card:nth-child(5n + 4) .card__footer--button-btn:hover {
  color: #a41367;
}
.card:nth-child(5n + 4)::after,
.card:nth-child(5n + 4)::before {
  background: #e51e92;
}
.card:nth-child(5n + 5) {
  background: #f1d5fa;
}
.card:nth-child(5n + 5) .card__line {
  background-color: white;
}
.card:nth-child(5n + 5) .card__footer--plus svg {
  fill: #b31ee5;
}
.card:nth-child(5n + 5) .card__footer--button-btn {
  background: white;
  color: #b31ee5;
}
.card:nth-child(5n + 5) .card__footer--button-btn:hover {
  color: #a318d1;
}
.card:nth-child(5n + 5)::after,
.card:nth-child(5n + 5)::before {
  background: #b31ee5;
}
.card__info {
  position: absolute;
  right: 2rem;
}
.card__info--dot {
  height: 0.7rem;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}
.card__date {
  font-size: 1.3rem;
  font-weight: bold;
  color: #737373;
}
.card__title {
  padding-block: 2.5rem 1rem;
}
.card__title h4 {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
.card__title--category {
  text-align: center;
  font-size: 1.4rem;
}
.card__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(224, 220, 220);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__progress--progress {
  height: 100%;
  background-color: #00bbe5;
  border-radius: 0.5rem;
}
.card__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card2__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card2__progress--progress {
  height: 100%;
  background-color: #ed970d;
  border-radius: 0.5rem;
}
.card2__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card3__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card3__progress--progress {
  height: 100%;
  background-color: #0ded3e;
  border-radius: 0.5rem;
}
.card3__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card4__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card4__progress--progress {
  height: 100%;
  background-color: #e51e92;
  border-radius: 0.5rem;
}
.card4__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card5__progress--level {
  margin-top: 10px;
  width: 100%;
  height: 0.6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card5__progress--progress {
  height: 100%;
  background-color: #b31ee5;
  border-radius: 0.5rem;
}
.card5__progress--percentage {
  font-size: 1.3rem;
  color: black;
  text-align: right;
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Roboto", system-ui;
  font-weight: 520;
  font-style: normal;
}
.card__progress--label {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.card__line {
  height: 1px;
  width: 120%;
  margin-left: -2rem;
  background: #d7d7d7;
  margin-top: 2.5rem;
}
.card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 1rem;
  height: 5rem;
}
.card__footer--image-size,
.card__footer--plus svg {
  height: 2rem;
  fill: black;
}
.card__footer--image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.card__footer--image-size {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.card__footer--image-size:not(:first-child) {
  margin-left: -10px;
}
.card__footer--image-size:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: contrast(1.5);
}
.card__footer--plus {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}
.card__footer--plus svg {
  height: 2rem;
  margin-left: 5px;
  fill: #00bbe5;
}
.card__footer--plus:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.card__footer--button {
  margin-left: auto;
}
.card__footer--button-btn {
  all: unset;
  background: rgba(0, 187, 229, 0.137);
  color: #00bbe5;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.card__footer--button-btn:hover {
  color: #00a6cc;
}