.icon_profile_flex {
  &--icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
    }
    &--line {
      width: 3rem;
      height: 3rem;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.card__info {
  position: absolute;
  right: 2rem;
}
.card__info--dot {
  height: 0.7rem;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}