.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  height: 3.6rem;
  padding: 0 3.5rem;
}
.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  height: 100%;
}
@media (max-width: 800px) {
  .nav__left {
    gap: 6rem;
  }
}
.nav__left--hamburger {
  width: 4rem;
  height: 4rem;
  color: rgb(0, 0, 0);
  margin: 0 -1rem 0 0.3rem;
  transition: all 0.3s ease;
}
.nav__left--hamburger:hover {
  cursor: pointer;
}
.nav__left--title {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.nav__left--searchbar {
  height: 100%;
  position: relative;
  margin-left: -35px;
}
@media (max-width: 600px) {
  .nav__left--searchbar {
    display: none;
  }
}
@media (max-width: 420px) {
  .nav__left--searchbar {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .nav__left--searchbar {
    margin-left: -20px;
  }
}
.nav__left--searchbar label {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 3%;
  top: 55%;
  transform: translateY(-50%);
}
.nav__left--searchbar input {
  height: 100%;
  border: none;
  width: 25vw;
  border-radius: 100px;
  padding: 2rem;
  padding-left: 4rem;
  font-size: 1.8rem;
  outline: none;
}
@media (max-width: 800px) {
  .nav__left--searchbar input {
    width: 30vw;
  }
}
.nav__left--searchbar input:focus {
  outline: 1px solid black;
}
.nav__left--searchbar input::placeholder {
  font-size: 18px;
  color: #999;
}
@media (max-width: 600px) {
  .nav__left--searchbar input::placeholder {
    font-size: 14px;
  }
}
.nav__right {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav__right > * {
  display: flex;
}
.nav__right--line {
  width: 1px;
  height: 100%;
  background: rgba(88, 88, 88, 0.51);
}
.nav__right--plus {
  width: 1.8rem;
  stroke: white;
  height: 1.8rem;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 0.7rem;
  transition: all 0.3s ease;
}
.nav__right--plus:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav__right--bell {
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  transition: all 0.3s ease;
}
.nav__right--bell:hover {
  transform: rotate(-15deg);
  cursor: pointer;
}
.nav__right__bell {
  position: relative;
}
.nav__right--circle {
  width: 0.8rem;
  height: 0.8rem;
  background-color: red;
  position: absolute;
  top: 22%;
  left: 52%;
  border-radius: 50%;
}
.nav__right--image {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.nav__right--image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav__right--name {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .nav__right--name {
    display: none;
  }
}
.nav__right svg {
  height: 3rem;
  width: 3rem;
}
body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  background: #e9e7fd !important;
}
.navigation {
  min-height: 80svh;
  width: 10rem;
  padding: 6rem 3rem;
}
.navigation.closed {
  background: red;
  transform: scale(0);
  padding: 0;
  width: 0;
}
.nav__icon {
  color: rgb(136, 136, 136);
  width: 3rem;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: -1.2rem 0 0 -1rem;
  margin-bottom: 2rem;
  color: #5e5d5d;
  position: relative;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.nav__icon svg {
  transition: all 0.5s;
}
.nav__icon::before {
  height: 100%;
  aspect-ratio: 1/1;
  background: black;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}
.nav__icon:hover::before,
.nav__icon:first-child::before {
  opacity: 1;
  visibility: visible;
  scale: 2;
}
.nav__icon:hover,
.nav__icon:first-child {
  color: white;
}
.nav__icon:hover svg,
.nav__icon:first-child svg {
  scale: 1.2;
}
